.app {
  height: 100%;
  width: 100%;
}

.app-header {
  max-height: min-content;
  width: 100%;
}

.main-container {
  min-height: max-content;
  margin: 100px
}

.header-painel {
  background-color: darkcyan;
  min-height: max-content;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: whitesmoke;
}

.painel {
  border-radius: 15px;
}

.painel {
  min-height: max-content;
}

.conteudo-painel {
  min-height: 50vh;
  max-height: max-content;
}