.app {
  height: 100%;
  width: 100%;
}

.app-header {
  max-height: min-content;
  width: 100%;
}

.main-container {
  min-height: max-content;
  margin: 100px
}

.header-painel {
  background-color: darkcyan;
  min-height: max-content;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: whitesmoke;
}

.painel {
  border-radius: 15px;
  min-height: max-content;
}

.painelGrafico {
  min-height: 20px;
  margin-bottom: 40px;
  height: max-content;
  width: 100%;
}

.painelAnos {
  height: 20%;
  width: 100%;
  padding: 15px;
}

.painelDetalhes {
  height: 360px;
}

.header-painel-detalhes {
  background-color: darkcyan;
  min-height: max-content;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: whitesmoke;
}

.seletorAnos{
  margin: 17px;
  height: 50;
  line-height: 60px;
  width: 100%;
  min-width: fit-content;
}

.conteudo-painel {
  height: max-content;
}

.loadingGrafico {
  padding-left: 50%;
  padding-top: 20%;
}